@use "sass:color";

$red: #B22222;
$dark-red: #722f37;

$light-blue: #dbeafe;
$blue: #4169E1;
$dark-blue: #343451;

$green: #22A442;

$yellow: #FDB605;

$light-gray: #eee;
$gray: #bbb;
$medium-gray: #ddd;

$white: #f8f8f8;
$black: #333;

$card-border: #e2e8f0;
