@use 'sass:color';

@mixin background-with-hover($color) {
  background-color: $color;

  &:hover {
    background-color: color.adjust($color, $lightness: -20%);
  }
}

@mixin color-with-hover($color) {
  color: $color;

  &:hover {
    color: color.adjust($color, $lightness: -20%);
  }
}
