@use '@/styles/colors';
@use '@/styles/typography';
@use '@/styles/screen-sizes' as screenSizes;

.ExperienceCard {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background: colors.$white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(colors.$black, 0.05);
  transition: box-shadow 0.2s ease;
  border: 1px solid colors.$light-gray;

  &:hover {
    box-shadow: 0 4px 12px rgba(colors.$black, 0.08);
  }

  .ImageContainer {
    flex-shrink: 0;
    width: 140px;
    height: 140px;
    border-radius: 1rem;
    overflow: hidden;
    background: colors.$medium-gray;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      box-shadow: 0 4px 12px rgba(colors.$black, 0.08);
    }
  }

  .Content {
    flex-grow: 1;

    h3 {
      @include typography.heading-4;
      font-weight: typography.$weight-bold;
      margin-bottom: 0.5rem;
    }

    h4 {
      @include typography.subtitle;
      margin-bottom: 0.5rem;
    }

    .Period {
      display: inline-block;
      font-style: italic;
      margin-bottom: 0.75rem;
      color: colors.$gray;
      border-radius: 4px;
      font-size: 0.85rem;
    }

    .Description {
      margin-bottom: 1rem;
      line-height: 1.6;
      font-size: 0.95rem;
    }

    .Achievements {
      background: #f8f9fa;
      padding: 1rem;
      border-radius: 6px;
      margin-top: 0.75rem;
      border: 1px solid #eee;

      strong {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1rem;
      }

      p {
        @include typography.body;
        // line-height: 1.5;
        // font-size: 0.9rem;
      }
    }
  }

  @media (max-width: screenSizes.$md) {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    .ImageContainer {
      width: 100px;
      height: 100px;
    }

    .Content {
      text-align: center;

      // h3 {
      //   font-size: 1.3rem;
      // }

      // h4 {
      //   font-size: 1.05rem;
      // }

      .Period {
        font-size: 0.8rem;
      }

      .Description {
        font-size: 0.9rem;
      }

      .Achievements {
        text-align: left;

        strong {
          text-align: center;
        }
      }
    }
  }
}
