@use '@/styles/colors';

.DialogUIBlocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(colors.$black, 0.5);
}

.Dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  background: colors.$white;
  border: 1px solid colors.$black;
  border-radius: 5px;

  @media(min-width: 40rem) {
    width: 40rem;
  }

  &[data-size="LARGE"] {
    @media(min-width: 55rem) {
      width: 55rem;
    }  
  }
}

.DialogHeader {
  padding: 1rem;
  border-bottom: 1px solid colors.$black;
}

.DialogBody {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  max-height: 80vh;
  overflow: auto;
}

.DialogFooter {
  display: flex;
  gap: 1rem;
  justify-content: end;
  padding: 1rem;
  border-top: 1px solid colors.$black;
}
