@use '@/styles/colors';
@use '@/styles/screen-sizes.scss' as screenSizes;

.Partnerships {
  background: colors.$white;
  padding: 4rem 1rem 8rem;
  color: colors.$black;

  .container {
    max-width: 1200px;
    margin: 0 auto;

    h2 {
      font-size: clamp(1.5rem, 4vw, 2.25rem);
      margin-bottom: 1rem;
    }

    p {
      color: colors.$gray;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    margin-top: 1rem;

    @media (min-width: screenSizes.$sm) {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }

  .partnerBox {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: colors.$white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(colors.$black, 0.1);
    padding: 12px;
    
    overflow: hidden;

    a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      text-align: center;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      border-radius: 10px;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-8px) scale(1.05); 
      }
    }
  }
}
