@use '@/styles/colors';

.WorkoutProgress {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & > span {
    white-space: nowrap;
  }
}

.WorkoutProgressBar {
  background-color: colors.$light-gray;
  width: 100px;
  height: 0.75rem;
  border-radius: 5px;
  overflow: hidden;

  .WorkoutProgressBarFiller {
    background: colors.$green;
    height: 100%;
  }
}
