.PublicationItemHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;

  h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
