@use '../../../colors.scss';

$header-background-color: colors.$gray;
$header-line-height: 1rem;

.ExerciseList {
  position: relative;

  &::before {
    content: '';
    background: $header-background-color;
    width: 1rem;
    height: $header-line-height * 3;
    display: block;
    position: absolute;
    top: 0;
    left: -1rem;
  }

  &::after {
    content: '';
    background: $header-background-color;
    width: 1rem;
    height: $header-line-height * 3;
    display: block;
    position: absolute;
    top: 0;
    right: -1rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background: $header-background-color;

      th {
        padding: $header-line-height 0;
        line-height: $header-line-height;
        font-weight: 400;
        text-align: left;
      }
    }
  }
}
