@use '@/styles/typography';
@use '@/styles/colors';

.HeroSection {
  min-height: 80vh;
  display: grid;
  place-items: center;
  text-align: center;
  background: linear-gradient(120deg, colors.$dark-blue 0%, #0a5f7e 60%, colors.$blue 100%);
  padding: 4rem 0 0;

  .content {
    max-width: 920px;
    margin: 0 auto 2rem;
    padding: 0 1rem;
  }

  h1 {
    font-size: clamp(1.95rem, 1.6962rem + 1.1282vw, 3.05rem);
    margin-bottom: 1rem;
    color: colors.$white;
  }

  p {
    font-size: clamp(1rem, 0.333rem + 1vw, 1.95rem);
    line-height: 1.5;
    color: colors.$white;
    margin: 0 auto 1.5rem;
  }

  .img {
    align-self: end;
  }

  .primary {
    @include typography.subtitle;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(colors.$black, 0.5);

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .secondary {
    border: 2px solid #94a3b8;
    color: colors.$white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 10px;
  }


  @media(min-width: 40rem) {
    min-height: 70vh;

    .content {
      padding: 0 2rem;
    }
  }
}
