@use '@/styles/margins';

$remove-horizontal-margin: margins.$content-container-horizontal-margin * -1;
$remove-vertical-margin: margins.$content-container-vertical-margin * -1;

.HomePage {
  margin: $remove-vertical-margin $remove-horizontal-margin;
}
