@use '@/styles/colors';
@use '@/styles/typography';
@use '@/styles/screen-sizes.scss' as screenSizes;

.Footer {
  background: colors.$blue;
  color: colors.$white;
  padding: 1rem 2rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;    
    text-align: center;

    @media (min-width: screenSizes.$md) {
      flex-direction: row;
      text-align: initial;
    }

    .logoSection {
      display: flex;
      place-items: center;
      gap: 1rem;
    }
  }

  .copy {
    @include typography.caption;
    color: colors.$white;
  }
}
